{% extends "base.html" %}

{% block content %}
<style>

.post {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.post h2, .post h4 {
        font-size: 20px;
    }

    .post h5 {
        font-size: 16px;
    }

.post img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
}



.container {
    width: 50%;
    margin: 0 auto;
}

.postimage {
    margin-bottom:16px;
    width: 10px;
    height: 125px;
}
.article-image fixed-size-image{
   margin-bottom:16px;
    width: 10%;
    height: 125px;
    }


</style>

  <div class="container">
    {% for post in posts %}
    <div class="post">
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{% if post.author.profile.image %}{{ post.author.profile.image.url }}{% endif %}">
          <div class="media-body">
            <div class="article-metadata">
                <h4 class="mr-2" >{{ post.author }}</h4>
                <h5 class="text-muted">{{ post.date_posted|date:"F d, Y" }}</h5><hr>
                 <h2 ><a style="color:black " class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>


            </div>


              {% if post.image %}
               <img class="article-image fixed-size-image" src="{{ post.image.url }}" alt="{{ post.title }}">
              {% endif %}
          </div>
        </article>
    </div>
    {% endfor %}
  </div>


{% endblock  %}
