{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
    <h2>User Details</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
